<terra-base-toolbar>
    <div class="btn-group" role="group">
        <terra-button
                [inputCaption]="'Aktualisieren'"
                [inputIcon]="'icon-refresh'"
                [inputIsTertiary]="true"
                (outputClicked)="refresh()">
        </terra-button>
        <terra-button inputIcon="icon-add"
                      inputTooltipText="Neu"
                      (outputClicked)="add()">
        </terra-button>
    </div>
</terra-base-toolbar>

<div *ngIf="!new && !edit">
    <terra-simple-table
        #table [inputIsStriped]="true"
        [inputHeaderList]="headerList"
        [inputRowList]="rowList">
    </terra-simple-table>

</div>

<div *ngIf=new>


    <terra-portlet inputPortletHeader="Neues Bestell-Event anlegen"
                   [inputButtonList]="portletButtonList">

        <input id="eventName" type="text" class="form-control" inputName="eventName" [(ngModel)]="eventName"
               placeholder="Name des Events">

        <terra-select-box
                [inputName]="'Plenty Ereignis'"
                [inputListBoxValues]="_selectableOptionTypesListEventStatus"
                [(ngModel)]="_pickedValueEventStatus">
        </terra-select-box>

        <terra-select-box
                [inputName]="'Mail-In-One Ereignis'"
                [inputListBoxValues]="_selectableOptionTypesListMioEventName"
                [(ngModel)]="_pickedValueMioEventName">
        </terra-select-box>

        <terra-select-box
                [inputName]="'Integration'"
                [inputListBoxValues]="_selectableOptionTypesListIntegration"
                [(ngModel)]="_pickedValueIntegration">
        </terra-select-box>

        <terra-select-box
                [inputName]="'Kontaktereignis'"
                [inputListBoxValues]="_selectableOptionTypesListEvent"
                [(ngModel)]="_pickedValueEvent">
        </terra-select-box>

        <input id="marketingAutomation" type="text" class="form-control" inputName="marketingAutomation"
               [(ngModel)]="marketingAutomation" placeholder="Marketing Programm ID">


        <terra-select-box
                [inputName]="'Status'"
                [inputListBoxValues]="_selectableOptionTypesListStatus"
                [(ngModel)]="_pickedValueStatus">
        </terra-select-box>


        <terra-button
                [inputCaption]="'Speichern'"
                [inputIcon]="'icon-save'"
                [inputIsPrimary]="true"
                (outputClicked)="save()">
        </terra-button>

        <terra-button
                [inputCaption]="'zurück'"
                [inputIcon]="'icon-cancel'"
                [inputIsPrimary]="true"
                (outputClicked)="return()">
        </terra-button>


    </terra-portlet>

</div>

<div *ngIf=edit>


    <terra-portlet inputPortletHeader="Edit Bestell-Event"
                   [inputButtonList]="portletButtonList">

        <input id="_idEvent" type="text" class="form-control" inputName="_idEvent" [(ngModel)]="_idEvent" disabled>

        <input id="_editEventName" type="text" class="form-control" inputName="_editEventName"
               [(ngModel)]="_editEventName">

        <terra-select-box
                [inputName]="'Plenty Ereignis'"
                [inputListBoxValues]="_editSelectableOptionTypesListEventStatus"
                [(ngModel)]="_editPickedValueEventStatus">
        </terra-select-box>

        <terra-select-box
                [inputName]="'Mail-In-One Ereignis'"
                [inputListBoxValues]="_editSelectableOptionTypesListMioEventName"
                [(ngModel)]="_editPickedValueMioEventName">
        </terra-select-box>

        <terra-select-box
                [inputName]="'Integration'"
                [inputListBoxValues]="_editSelectableOptionTypesListIntegration"
                [(ngModel)]="_editPickedValueIntegration">
        </terra-select-box>

        <terra-select-box
                [inputName]="'Kontaktereignis'"
                [inputListBoxValues]="_editSelectableOptionTypesListEvent"
                [(ngModel)]="_editPickedValueEvent">
        </terra-select-box>

        <input id="editMarketingAutomation" type="text" class="form-control" inputName="editMarketingAutomation"
               [(ngModel)]="editMarketingAutomation" placeholder="Marketing Program ID">


        <terra-select-box
                [inputName]="'Status'"
                [inputListBoxValues]="_editSelectableOptionTypesListIsAktiv"
                [(ngModel)]="_editPickedValueIsAktiv">
        </terra-select-box>

        <terra-button
                [inputCaption]="'Speichern'"
                [inputIcon]="'icon-save'"
                [inputIsPrimary]="true"
                (outputClicked)="saveEdit()">
        </terra-button>

        <terra-button
                [inputCaption]="'Abbrechen'"
                [inputIcon]="'icon-cancel'"
                [inputIsPrimary]="true"
                (outputClicked)="return()">
        </terra-button>


    </terra-portlet>


</div>




