<div *ngIf="action == 'settings'">
    <settings></settings>
</div>

<div *ngIf="action == 'campaign'">
    <campaign></campaign>
</div>

<div *ngIf="action == 'contactfilter'">
    <contactfilter></contactfilter>
</div>

<div *ngIf="action == 'targetGroup'">
    <targetGroup></targetGroup>
</div>

<div *ngIf="action == 'getAllSyncStatus'">
    <getAllSyncStatus></getAllSyncStatus>
</div>

<div *ngIf="action == 'contactSync'">
    <contactSync></contactSync>
</div>

<div *ngIf="action == 'event'">
    <event></event>
</div>

<div *ngIf="action == 'basketevent'">
    <basketevent></basketevent>
</div>

<div *ngIf="action == 'getMioDoiSubscriberStatus'">
    <getMioDoiSubscriberStatus></getMioDoiSubscriberStatus>
</div>

<div *ngIf="action == 'blacklist'">
    <blacklist></blacklist>
</div>

<div *ngIf="action == 'getMioEmailStatus'">
    <getMioEmailStatus></getMioEmailStatus>
</div>