<terra-base-toolbar>


    <div class="btn-group" role="group">
        <terra-button
                [inputCaption]="'Aktualisieren'"
                [inputIcon]="'icon-refresh'"
                [inputIsTertiary]="true" (outputClicked)="refresh()">
        </terra-button>
    </div>
    <div class="btn-group" role="group">
        <terra-button
                [inputCaption]="'Kontakte synchronisieren'"
                [inputIcon]="'icon-control_play'"
                [inputIsPrimary]="true"
                (outputClicked)="sync()">
        </terra-button>
        <terra-button
                [inputCaption]="'Kontakte und Ereignisse synchronisieren'"
                [inputIcon]="'icon-control_play'"
                [inputIsPrimary]="true"
                (outputClicked)="setEvent()">
        </terra-button>
        <terra-button
                [inputCaption]="'Alle Kontakte synchronisieren'"
                [inputIcon]="'icon-control_play'"
                [inputIsPrimary]="true"
                (outputClicked)="syncAllContacts()">
        </terra-button>
    </div>
    <div class="btn-group" role="group">
        <terra-button
                [inputCaption]="'Delta Synchronisation Initial'"
                [inputIcon]="'icon-control_play'"
                [inputIsHighlighted]="true"
                (outputClicked)="uiStartDeltaSync()">
        </terra-button>
    </div>
    <div class="btn-group" role="group">
        <div *ngIf=isJobActive>
            <terra-tag inputColor="red"
                       inputBadge="aktiver job ...">
            </terra-tag>
        </div>
        <div *ngIf=!isJobActive>
            <terra-tag inputColor="green"
                       inputBadge="kein aktiver job">
            </terra-tag>
        </div>
    </div>
</terra-base-toolbar>

<div>
    <terra-simple-table
        #table [inputIsStriped]="true"
        [inputHeaderList]="headerList"
        [inputRowList]="rowList">
    </terra-simple-table>
</div>
