<terra-base-toolbar>
    <div class="btn-group" role="group">
        <terra-button
                [inputTooltipText]="'Daten aktualisieren'"
                [inputTooltipPlacement]="'bottom'"
                [inputCaption]="'Aktualisieren'"
                [inputIcon]="'icon-refresh'"
                [inputIsTertiary]="true"
                (outputClicked)="refresh()">
        </terra-button>
        <terra-button
                [inputIcon]="'icon-save'"
                [inputTooltipText]="'Speichern'"
                [inputTooltipPlacement]="'bottom'"
                (outputClicked)="saveSettings()">
        </terra-button>
    </div>
</terra-base-toolbar>

<div style="width: 50%; padding-left: 10px;">
    <div class="row-container">
        <terra-portlet inputPortletHeader="{{ 'settings' | translate:lang }}">

            <div>
                <label style="font-size:16px; color:black;">
                    Mit vorhandenem Mail-In-One Konto verbinden
                </label>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <label style="font-weight: bold">API-Key: </label>
                        </div>

                        <div class="col-md-7">
                            <terra-text-input inputName="API Key" [(ngModel)]="apiKey">
                            </terra-text-input>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <label style="font-weight: bold">Login-URL: </label>
                        </div>

                        <div class="col-md-7">
                            <terra-text-input inputName="login url" [(ngModel)]="loginurl">
                            </terra-text-input>

                        </div>
                        <div *ngIf=isUrl>
                            <terra-button [inputCaption]="'Mail-In-One'" [inputIcon]="'icon-confirm'"
                                          [inputIsPrimary]="true" (outputClicked)="mailInOne()">
                            </terra-button>
                        </div>
                    </div>
                </div>
                <div>
                    <terra-button [inputCaption]="'Neues Mail-In-One Konto anlegen'" [inputIcon]="'icon-confirm'"
                                  [inputIsPrimary]="true" (outputClicked)="newUser()">
                    </terra-button>
                </div>

                <div *ngIf=isNewUser>
                    <br>
                    <div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3 col-md-2"><label style="font-weight: bold">Vorname: </label></div>
                                <div class="col-md-5">
                                    <terra-text-input inputName="{{ 'firstname' | translate:lang }}"
                                                      [inputIsRequired]="true" [inputIsDisabled]="isDisabled"
                                                      [(ngModel)]="firstname">
                                    </terra-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-2"><label style="font-weight: bold">Nachname: </label></div>
                                <div class="col-md-5">
                                    <terra-text-input inputName="{{ 'lastname' | translate:lang }}"
                                                      [inputIsRequired]="true" [inputIsDisabled]="isDisabled"
                                                      [(ngModel)]="lastname">
                                    </terra-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-2"><label style="font-weight: bold">Firma: </label></div>
                                <div class="col-md-5">
                                    <terra-text-input inputName="{{ 'company' | translate:lang }}"
                                                      [inputIsRequired]="true" [inputIsDisabled]="isDisabled"
                                                      [(ngModel)]="company">
                                    </terra-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-2"><label style="font-weight: bold">Telefonnummer: </label>
                                </div>
                                <div class="col-md-5">
                                    <terra-text-input inputName="{{ 'phone' | translate:lang }}"
                                                      [inputIsRequired]="true" [inputIsDisabled]="isDisabled"
                                                      [(ngModel)]="phone">
                                    </terra-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-2"><label style="font-weight: bold">Straße/Hausnr.: </label>
                                </div>
                                <div class="col-md-5">
                                    <terra-text-input inputName="{{ 'street' | translate:lang }}"
                                                      [inputIsRequired]="true" [inputIsDisabled]="isDisabled"
                                                      [(ngModel)]="street">
                                    </terra-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-2"><label style="font-weight: bold">PLZ: </label></div>
                                <div class="col-md-5">
                                    <terra-text-input inputName="{{ 'zip' | translate:lang }}" [inputIsRequired]="true"
                                                      [inputIsDisabled]="isDisabled" [(ngModel)]="zip">
                                    </terra-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-2"><label style="font-weight: bold">Ort: </label></div>
                                <div class="col-md-5">
                                    <terra-text-input inputName="{{ 'city' | translate:lang }}" [inputIsRequired]="true"
                                                      [inputIsDisabled]="isDisabled" [(ngModel)]="city">
                                    </terra-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-2"><label style="font-weight: bold">Land: </label></div>
                                <div class="col-md-5">
                                    <terra-text-input inputName="{{ 'country' | translate:lang }}"
                                                      [inputIsRequired]="true" [inputIsDisabled]="isDisabled"
                                                      [(ngModel)]="country">
                                    </terra-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-2"><label style="font-weight: bold">E-Mail-Adresse: </label>
                                </div>
                                <div class="col-md-5">
                                    <terra-text-input type="email" inputName="{{ 'email' | translate:lang }}"
                                                      [inputIsRequired]="true" [inputIsDisabled]="isDisabled"
                                                      [(ngModel)]="email">
                                    </terra-text-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-2"></div>
                                <div class="col-md-5">
                                    <a href="http://treaction.de/de/impressum.html"
                                       target="_blank">Impressum</a>&nbsp;&nbsp;&nbsp;<a
                                        href="http://treaction.de/de/datenschutz.html"
                                        target="_blank">Datenschutz</a>&nbsp;&nbsp;&nbsp;<a
                                        href="http://treaction.de/de/footernav/agb.html" target="_blank">AGB</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-4" style="font-weight: bold">Mail-In-One powered by treaction ag
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <p></p>
                <label style="font-size:16px; color:black;">
                    Synchronisationslauf einstellen
                </label>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <label style="font-weight: bold">Kontaktverlauf mitschreiben: </label>
                        </div>

                        <div class="col-md-7">
                            <terra-select-box [inputName]="" [inputListBoxValues]="_mioContactProcessLogModeOptions"
                                              [(ngModel)]="logcontactprocess">
                            </terra-select-box>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <label style="font-weight: bold">Modus: </label>
                        </div>

                        <div class="col-md-7">
                            <terra-select-box [inputName]="" [inputListBoxValues]="_selectableOptionTypesModus"
                                              [(ngModel)]="_pickedValueModus">
                            </terra-select-box>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <label style="font-weight: bold">Menge: </label>
                        </div>

                        <div class="col-md-7">
                            <terra-number-input inputName="Menge" [(ngModel)]="quantity">
                            </terra-number-input>

                        </div>
                    </div>


                    <!--  <div class="row" >
                    <div class="col-sm-5 col-md-3">
                        <label style="font-weight: bold">Aktualisierungsintervall in Minuten : </label>
                    </div>

                    <div class="col-md-5">
                        <terra-text-input inputName="cronjob"
                                          [(ngModel)]="cronjob">
                        </terra-text-input>

                    </div>
                </div>-->
                </div>
                <!-- Realtime DOI -->
                <p></p>
                <label style="font-size:16px; color:black;">
                    Realtime DOI
                </label>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <label style="font-weight: bold">Realtime DOI verwenden:</label>
                        </div>
                        <!--- TODO   _mioContactProcessLogModeOptions ändern   -->
                        <div class="col-md-7">
                            <terra-select-box [inputName]="" [inputListBoxValues]="_mio_ui_realtime_doi"
                                              [(ngModel)]="ui_realtime_doi">
                            </terra-select-box>
                        </div>
                    </div>
                </div>
                <!-- BLACKLIST -->
                <p></p>
                <label style="font-size:16px; color:black;">
                    Blacklist-Einstellungen
                </label>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <label style="font-weight: bold">Standard-Blacklist wählen:</label>
                        </div>

                        <div class="col-md-7">
                            <div *ngIf=hasBlacklist>
                                <terra-select-box [inputName]="" [inputListBoxValues]="_ui_blacklist_list"
                                                  [(ngModel)]="ui_standard_blacklist">
                                </terra-select-box>
                            </div>

                            <div *ngIf=!hasBlacklist>
                                <terra-number-input inputName="Standard-Blacklist" [(ngModel)]="ui_standard_blacklist">
                                </terra-number-input>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <label style="font-weight: bold">gesperrte Kontakte auf Blacklist</label>
                        </div>
                        <div class="col-md-7">
                            <terra-select-box [inputName]="" [inputListBoxValues]="_ui_blocked_contacts_to_blacklist"
                                              [(ngModel)]="ui_cntct_to_blacklist_set">
                            </terra-select-box>
                        </div>

                    </div>

                </div>
            </div>


        </terra-portlet>
    </div>
</div>
