<terra-base-toolbar>
    <div class="btn-group" role="group">
        <terra-button
                [inputCaption]="'Aktualisieren'"
                [inputIcon]="'icon-refresh'"
                [inputIsTertiary]="true"
                (outputClicked)="refreshList()">
        </terra-button>
        <terra-button inputIcon="icon-add"
                      inputTooltipText="Neu"
                      (outputClicked)="add()">
        </terra-button>

    </div>
</terra-base-toolbar>

<div *ngIf="!new && !edit">
    <terra-simple-table
        #table [inputIsStriped]="true"
        [inputHeaderList]="headerList"
        [inputRowList]="rowList">
    </terra-simple-table>

</div>

<div *ngIf=new>


    <terra-portlet inputPortletHeader="Neu Ereignis anlegen"
                   [inputButtonList]="portletButtonList">

        <terra-select-box
                [inputName]="'event' | translate:lang"
                [inputListBoxValues]="_selectableOptionTypesListContactEvent"
                [(ngModel)]="_pickedValueContactEvent">
        </terra-select-box>


        <terra-select-box
                [inputName]="'Ordner'"
                [inputListBoxValues]="_selectableOptionTypesListOrdner"
                [(ngModel)]="_pickedValueOrdner">
        </terra-select-box>

        <terra-select-box
                [inputName]="'Integration'"
                [inputListBoxValues]="_selectableOptionTypesListIntegration"
                [(ngModel)]="_pickedValueIntegration">
        </terra-select-box>

        <terra-select-box
                [inputName]="'Kontaktereignis'"
                [inputListBoxValues]="_selectableOptionTypesListEvent"
                [(ngModel)]="_pickedValueEvent">
        </terra-select-box>

        <input id="marketingAutomation" type="text" class="form-control" inputName="marketingAutomation"
               [(ngModel)]="marketingAutomation" placeholder="Marketing Program ID">

        <terra-select-box
                [inputName]="'DOI Mailing'"
                [inputListBoxValues]="_selectableOptionTypesListDOIMailing"
                [(ngModel)]="_pickedValueDOIMailing">
        </terra-select-box>

        <terra-select-box
                [inputName]="'DOI erforderlich'"
                [inputListBoxValues]="_selectableOptionTypesListDOI"
                [(ngModel)]="_pickedValueDOI">
        </terra-select-box>

        <terra-button
                [inputCaption]="'Speichern'"
                [inputIcon]="'icon-save'"
                [inputIsPrimary]="true"
                (outputClicked)="save()">
        </terra-button>

        <terra-button
                [inputCaption]="'Abbrechen'"
                [inputIcon]="'icon-cancel'"
                [inputIsPrimary]="true"
                (outputClicked)="return()">
        </terra-button>


    </terra-portlet>


</div>
<div *ngIf=edit>


    <terra-portlet inputPortletHeader="Edit Ereignis"
                   [inputButtonList]="portletButtonList">

        <input id="_idEvent" type="text" class="form-control" inputName="_idEvent" [(ngModel)]="_idEvent" disabled>


        <terra-select-box
                [inputName]="'event' | translate:lang"
                [inputListBoxValues]="_editSelectableOptionTypesListContactEvent"
                [(ngModel)]="_editPickedValueContactEvent">
        </terra-select-box>


        <terra-select-box
                [inputName]="'Ordner'"
                [inputListBoxValues]="_editSelectableOptionTypesListOrdner"
                [(ngModel)]="_editPickedValueOrdner">
        </terra-select-box>

        <terra-select-box
                [inputName]="'Integration'"
                [inputListBoxValues]="_editSelectableOptionTypesListIntegration"
                [(ngModel)]="_editPickedValueIntegration">
        </terra-select-box>

        <terra-select-box
                [inputName]="'Kontaktereignis'"
                [inputListBoxValues]="_editSelectableOptionTypesListEvent"
                [(ngModel)]="_editPickedValueEvent">
        </terra-select-box>

        <input id="editMarketingAutomation" type="text" class="form-control" inputName="editMarketingAutomation"
               [(ngModel)]="editMarketingAutomation" placeholder="Marketing Program ID">

        <terra-select-box
                [inputName]="'DOI Mailing'"
                [inputListBoxValues]="_editSelectableOptionTypesListDOIMailing"
                [(ngModel)]="_editPickedValueDOIMailing">
        </terra-select-box>

        <terra-select-box
                [inputName]="'DOI erforderlich'"
                [inputListBoxValues]="_editSelectableOptionTypesListDOI"
                [(ngModel)]="_editPickedValueDOI">
        </terra-select-box>

        <terra-button
                [inputCaption]="'Speichern'"
                [inputIcon]="'icon-save'"
                [inputIsPrimary]="true"
                (outputClicked)="saveEdit()">
        </terra-button>

        <terra-button
                [inputCaption]="'Abbrechen'"
                [inputIcon]="'icon-cancel'"
                [inputIsPrimary]="true"
                (outputClicked)="return()">
        </terra-button>


    </terra-portlet>


</div>


