<terra-base-toolbar>
    <div class="container-fluid">
        <!-- SELECT - BLACKLIST  -->
        <div class="row">
            <div class="col-md-12">
                <h1>Mail-In-One Geblockte Kontakte</h1>
            </div>
        </div>

        <!-- EINSTELLUNGEN -->
        <!--  MOVED TO SETTINGS DUE TO PO-REQUIREMENT
        <div class=" row">
            <div class="col-md-12">
                <h2>Blacklist-Einstellungen</h2>
            </div>
        </div>

        <div class=" row">
            <div class="col-md-2">
                <label style="font-weight: bold">Geperrte Kontakte auf Mail-In-One Blacklist setzen</label>
            </div>
            <div class="col-md-5">
                <terra-toggle [inputIcon]="'icon-confirm'"
                    [inputTooltipText]="'geperrte Kontakte auf Mail-In-One Blacklist setzen'"
                    [(ngModel)]="_addBlockedToMioBlacklist" [inputTooltipPlacement]="'right'">
                </terra-toggle>
            </div>
        </div>

        <div class=" row">
            <div class="col-md-2">
                <label style="font-weight: bold">Mail-In-One Standard-Blacklist festlegen</label>
            </div>
            <div class="col-md-5">
                <terra-select-box [inputName]="Blacklist" [inputListBoxValues]="_blacklistSelectBox"
                    [(ngModel)]="ui_standard_blacklist_id">
                </terra-select-box>
            </div>
            <div class="col-md-1"></div>

            <div class="col-md-3">
                <div class="btn-group" role="group">
                    <terra-button [inputCaption]="'Einstellungen speichern'" [inputIcon]="'icon-save'"
                        [inputIsTertiary]="true" (outputClicked)="saveMioBlacklistOptions()">
                    </terra-button>
                </div>
            </div>
        </div>
        -->


        <!-- NEUE EINTRÄGE -->
        <div *ngIf=hasBlacklist>
            <p></p>
            <hr>
            <p></p>
            <div class=" row">
                <div class="col-md-12">
                    <h2>Neuen Blacklist-Eintrag hinzufügen</h2>
                </div>
            </div>

            <!-- INPUT - EMAIL-ADDRESS -->
            <div class="row">
                <div class="col-md-2">
                    <label style="font-weight: bold">E-Mail-Adresse oder E-Mail-Muster mit Wildcards (*)</label>
                </div>

                <div class="col-md-5">
                    <terra-text-input inputName="E-Mail" [(ngModel)]="ui_new_bl_email">
                    </terra-text-input>
                </div>

                <div class="col-md-1"></div>

                <div class="col-md-3">
                    <div class="btn-group" role="group">
                        <terra-button [inputCaption]="'Zur Blacklist hinzufügen'" [inputIcon]="'icon-save'"
                            [inputIsTertiary]="true" (outputClicked)="addEmailToBlacklistInMio()">
                        </terra-button>
                    </div>
                </div>
            </div>
        </div><!-- hasBlacklist -->
        <!-- BUTTON ADD TO BLACKLIST -->
        <div class="row">
        </div>
    </div>
</terra-base-toolbar>


<!-- CHANGE THIS TO PAGED TABLE !!!!  -->
<div *ngIf=hasBlacklistEntries>
    <div>
        <terra-simple-table #table [inputIsStriped]="true" [inputHeaderList]="headerList" [inputRowList]="rowList">
        </terra-simple-table>
    </div>
</div>
<div *ngIf=!hasBlacklistEntries>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <terra-note class="col-md-12" inputHeaderText="Es liegen keine Blacklist-Einträge vor"
                    inputNoteText="Bitte gegebenenfalls zunächst eine Blacklist in Mail-In-One (MIO) einrichten oder Einträge zu bestehender MIO-Blacklist hinzufügen"
                    [inputId]="8">
                    <div buttons>
                        <terra-button inputIcon="icon-info" inputIsPrimary="true"
                            inputTooltipText="Keine Blacklist-Einträge in Mail-In-One vorhanden"
                            (click)="showOverlay()">
                        </terra-button>
                    </div>
                </terra-note>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
