<terra-base-toolbar>
    <div class="container-fluid">
        <!-- SELECT - BLACKLIST  -->
        <div class="row">
            <div class="col-md-12">
                <h1>E-Mail Management</h1>
            </div>
        </div>

        <!-- START ADD TO BLACKLIST-->
        <!--
        <div *ngIf=hasBlacklist>
            <p></p>
            <hr>
            <p></p>
            <div class=" row">
                <div class="col-md-12">
                    <h2>Neuen Blacklist-Eintrag hinzufügen</h2>
                </div>
            </div>


            <div class="row">
                <div class="col-md-2">
                    <label style="font-weight: bold">E-Mail-Adresse oder Wildcard-Zeichenkette</label>
                </div>

                <div class="col-md-5">
                    <terra-text-input inputName="Email" [(ngModel)]="ui_new_bl_email">
                    </terra-text-input>
                </div>

                <div class="col-md-1"></div>

                <div class="col-md-3">
                    <div class="btn-group" role="group">
                        <terra-button [inputCaption]="'Zur Blacklist hinzufügen'" [inputIcon]="'icon-save'"
                            [inputIsTertiary]="true" (outputClicked)="addEmailToBlacklistInMio()">
                        </terra-button>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- if hasBlacklist -->
        <!-- END ADD TO BLACKLIST -->


        <!-- START ADD UNSUBSCREIBER -->
        <div class=" row">
            <div class="col-md-12">
                <h2>E-Mail prüfen</h2>
            </div>
        </div>

        <!-- INPUT - EMAIL-ADDRESS -->
        <div class="row">
            <div class="col-md-2">
                <label style="font-weight: bold">E-Mail-Adresse</label>
            </div>

            <div class="col-md-5">
                <terra-text-input inputName="E-Mail Adresse" [(ngModel)]="ui_new_us_email">
                </terra-text-input>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-3">
                <div class="btn-group" role="group">
                    <terra-button [inputCaption]="'Anfordern'" [inputIcon]="'icon-execute'"
                        [inputIsTertiary]="true" (outputClicked)="getMioSingleEmailStatus(ui_new_us_email)">
                    </terra-button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <terra-simple-table #table [inputIsStriped]="true" [inputHeaderList]="headerList"
                    [inputRowList]="rowList">
                </terra-simple-table>
                <!-- this would have been terra-pager
                <terra-pager [inputPagingData]="pagingData"></terra-pager>
                -->
            </div>
        </div>
    </div>
</terra-base-toolbar>
