<!doctype html>
<html>
<head>
    <title>Plugin Mail In One UI</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
</head>
<body id="body" class="dark-standard">
<mail-in-one-app>
    Loading...
</mail-in-one-app>
</body>
</html>
