<terra-base-toolbar>
    <div class="btn-group" role="group">
        <terra-button
                [inputCaption]="'Aktualisieren'"
                [inputIcon]="'icon-refresh'"
                [inputIsTertiary]="true"
                (outputClicked)="refresh()">
        </terra-button>
    </div>
</terra-base-toolbar>
<div>
    <terra-simple-table
        #table [inputIsStriped]="true"
        [inputHeaderList]="headerList"
        [inputRowList]="rowList">
    </terra-simple-table>
</div>
